.body{
    background-color: rgb(2, 2, 47);
    color: whitesmoke;
}
.home{
    color: rgb(180, 177, 177);
    text-decoration: none;
}
.nav{
    position:relative;
    left: 1000px;
    bottom: 50px;
    display: flex;
    gap: 14px;
    font-size: 23px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 position: relative;
 top: 20px;
 left: 70px;
}
.home{
     color: rgb(180, 177, 177);
     font-size: 20px;
     position: relative;
     top: 10px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.mern{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    text-align: center;
}
.turn{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
    display: flex;
    gap: 20px;
    position: relative;
    left: 590px;
}
.react{
    position: relative;
    left: 450px;
    display: flex;
    gap: 25px;
    text-align: center;
    
}
.box{
    position: relative;
    top: 50px;
}
.my{
   border-radius: 5px; 
   font-size: 20px;
   padding-bottom: 5px;
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       color: black; 
       background-color: khaki;
       position: relative;
       top: 70px;
       left: 670px;
}
.box:hover{
    width: 100%;
    height: 180px;
    padding: 20px;
    box-shadow: 0 5px 15px gray;
}